.button {
  border: solid;
  text-align: center;
  background-color: transparent;
  font-weight: bold;
}

.bg-img {
  background-size: transparent;
}

.carousel-item {
  height: 50rem;
  margin: 5px;
}

.story {
  text-align: center;
  font-family: "Square Peg", cursive;
  font-weight: bold;
  font-size: xx-large;
  letter-spacing: 2px;
}

.story1 {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.story2 {
  margin: 0;
  text-decoration: underline;
  margin-bottom: 40px;
}

.card {
  margin: 5px;
  padding: 10px;
}

.header {
  text-align: center;
  color: red;
  font-family: "Pacifico", cursive;
  font-weight: bold;
  margin: 40px;
}

.footer {
  background-color: rgb(27, 23, 23);
  padding-bottom: 20px;
}

.footer-list {
  list-style-type: none;
}

.address {
  color: white;
  padding-top: 20px;
}

body {
  background-image: url("https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.social-media-icon {
  color: white;
}

.address {
  font-style: italic;
}

.button {
  background-color: red;
}
